body { 
    margin:0; 
    padding:0; 
    background-image: url("./images/Piknik_Background.png");
    background-size: cover;
}

/* Lara */
#button-container {
    text-align: center;
    padding: 50px;
   
} 

#start-piknik {
    background-color: rgba(8, 36, 2, 0.966);
    display: inline-block;
    width: 25%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* John */









/* Alfredo */









/* Shelsy */


/* styling specifically for the map */
<<<<<<< HEAD
=======
body { 
    margin:0; 
    padding:0; 
}

.background {
    max-height:100%;
    max-width:100%;
}

>>>>>>> 7fa949517b142de0f798754c7cc63075265a8034
#map { 
    position: absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
}

/* Sticky Footer styling */
.sticky {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    color: gray;
    text-align: center;
    padding-top: 10px;
}