body { 
    margin:0; 
    padding:0; 
    background-image: url(./images/Piknik_Background.png);
    background-size: cover;
    max-height:100%;
    max-width:100%;
    background-position: top;
    background-repeat: no-repeat;
}

/* Lara */
#button-container {
    text-align: center;
    padding: 30px;
} 

#start-piknik {
    background-color: rgba(8, 36, 2, 0.75);
    border-radius: 5px;
    border-color: rgba(8, 36, 2, 0.25);
    border-style: groove;
    border-width: 4px;
    display: inline-block;
    width: auto;
    font-size: 30px;
    margin-top: 8%;
    /* font-family: serif; */
}

button.button {
    background-color: rgba(8, 36, 2, 0.966);
    display: inline-block;
    /* font-family: serif; */
    font-size: 19px;
    padding: 20px;
}

h3 {
    /* font-family: serif; */
}



/* John */









/* Alfredo */









/* Shelsy */


/* styling specifically for the map */


.background {
    max-height:100%;
    max-width:100%;
}

#map { 
    position: absolute; 
    top:0; 
    bottom:0; 
    width:100%;
}

.mapboxgl-canvas {
    align-content: center;
}

/* Sticky Footer styling */
.sticky {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    color: gray;
    text-align: center;
    padding-top: 10px;
}

.card {
    display: block;
}