/* Lara */









/* John */









/* Alfredo */









/* Shelsy */


/* styling specifically for the map */
body { 
    margin:0; 
    padding:0; 
    background-image: url("./images/Piknik_Background.png");
    background-size: cover;
}

#map { 
    position: absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
}